<p class="inform">7% of Americans drink less than 1 glass of water a day.</p>

<p class="engage">Has it happened to you?</p>

<div class="invite">
  <button type="button" id="yes" class="btn btn-success">Yes</button>
  <%= link_to "Nope", "#", :class => "underline" %>
</div>